/* Global =============================== */
:root {
    --bg-color: #363b46;
    --dark-gray: #222;
    --card-bg-gray: #2c303a;
    --card-border-gray: #373b46;
    --gray: #aca6a6;
    --table-color: #a6adcc;
    --white: #FFF;
    --titles: #dadada;
    --light-blue: #4484FF;
    --light-purple: #914EFF;
}

::-webkit-scrollbar {
    background: var(--bg-color);
    width: .8rem;
    height: .8rem;
    padding: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border: 3px solid var(--bg-color);
    border-radius: .5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%; /* 15px */
}

body {
    background: var(--bg-color);
    font-family: SF Pro Display, sans-serif;
}

/* Estratégia para esconder os títulos do layout mas de uma forma que não atrapalhe os leitores de tela */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* Titles =============================== */
h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;  
  color: var(--dark-blue);
  font-weight: 500;
}

/* Links & Buttons =============================== */
a {
    color: var(--light-blue);
    text-decoration: none;
}

a:hover {
    color: var(--light-purple);
}

.button.new {
    display: inline-block;
    margin-bottom: 1rem;
}

/* Header =============================== */
header {
    background: var(--dark-gray);
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo {
    color: var(--white);
    font-weight: 100;
}

/* Balance =============================== */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--white);
    margin-top:0;  

}

/* Cards =============================== */
.card {
    background: var(--card-bg-gray);
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    border: 0.5px solid var(--card-border-gray);
    margin-bottom: 2rem;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    color: var(--titles);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
    color: var(--white);
}

.card.total {
    background: linear-gradient(10deg, #914EFF 0%, #4484FF 100%);
    transition:  background ease-in-out .3s;
}
.card.total:hover {
    background: linear-gradient(-10deg, #914EFF 0%, #4484FF 100%);
}

.card.total h3 {
    color: #222;
    font-weight: 500;
}

.card.total p {
    color: #111;
    font-weight: 500;
}



/* Table =============================== */
section#transaction {
    display: block;
    width: 100%;
    overflow-x: auto;
}
section#transaction h2 {
    color: white;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--table-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}


table tbody tr {
    opacity: .7;
}
table tr:hover {
    opacity: 1;
}

table th {
    background:#2c303a;
    opacity: .6;
    font-weight: 500;
    padding: 1rem 2rem;
    text-align: left;
}

table td{
    background: #3d434e;
    padding: 1rem 2rem;
    font-weight: 500;
}

td.description {
    color: white;
}

td.income {
    color: #12a454;
}

td.expense {
    color: #f83e3e;
}


/* Footer =============================== */
footer {
    text-align: center;
    color: #dadada;
    margin: 4rem 0 2rem;
    font-weight: 200;
    opacity: .9;
}

/* Responsive =============================== */
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }
    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}